<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
   
   <Bundle Name="$(var.ProductFullName)" Version="$(var.ProductFullVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="8511e368-91f8-4ab3-bb1e-31ffcb9c849a">
      <Log Disable="no" PathVariable="TEMP"/>
      <?define NetFx452MinRelease = 379893 ?>
      <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
      <WixVariable Id="WixStdbaLicenseRtf" Value="EULA.rtf" />
      <WixVariable Id="WixStdbaLogo" Value="Banner.png" />
      <WixVariable Id="NetFx452RedistDetectCondition" Value="NETFRAMEWORK45 &gt;= $(var.NetFx452MinRelease)" Overridable="yes" />
      <WixVariable Id="NetFx452RedistInstallCondition" Value="" Overridable="yes" />

      <Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]"/>      
      <Chain>
        <ExePackage
          Id="Netfx452"
          Compressed="$(var.Compressed)"
          PerMachine="yes" 
          Permanent="yes" 
          Vital="yes" 
          InstallCommand="/q /norestart"
          SourceFile="netfx452.exe"
          DetectCondition="!(wix.NetFx452RedistDetectCondition)"
          InstallCondition="!(wix.NetFx452RedistInstallCondition)"
          DownloadUrl="http://go.microsoft.com/fwlink/?LinkId=397708"
        />    
        <ExePackage
          SourceFile="vc_redist.x86.exe"
          InstallCommand='/q '
          Vital="yes"
          Compressed="$(var.Compressed)"
          PerMachine="yes"
          Permanent="yes"          
		      DownloadUrl="http://go.microsoft.com/fwlink/?LinkID=615459&amp;clcid=0x409"
        />
      
        <MsiPackage
          Id="miktex"
          Vital ="yes"
          SourceFile="MikTex.msi"
          Compressed="$(var.Compressed)"
          DownloadUrl="https://github-cloud.s3.amazonaws.com/releases/84485378/05b6377e-04dd-11e7-8b42-d741e6480b85.msi?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAISTNZFOVBIJMK3TQ%2F20170525%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20170525T013711Z&X-Amz-Expires=300&X-Amz-Signature=143e7b92881523242e51c3d3c6157a40f588a226b3e6149fb3ff1c5efaaa962e&amp;X-Amz-SignedHeaders=host&amp;actor_id=0&amp;response-content-disposition=attachment%3B%20filename%3DMikTex.2.9.3.msi&amp;response-content-type=application%2Foctet-stream"
        >
          <MsiProperty Name='TARGETDIR' Value='[InstallFolder]'/>
        </MsiPackage>
        
        <MsiPackage 
          Id="pksim"
          Vital="yes"
          SourceFile="$(var.pksim)"
          Compressed="$(var.Compressed)"
          DownloadUrl="$(var.pksimDownloadPath)"
        >
          <MsiProperty Name='TARGETDIR' Value='[InstallFolder]'/>
        </MsiPackage>

        <MsiPackage 
          Id="matlab"
          Vital="yes"
          SourceFile="$(var.matlab)"
          Compressed="$(var.Compressed)"
          DownloadUrl="$(var.matlabDownloadPath)"
        >
          <MsiProperty Name='TARGETDIR' Value='[InstallFolder]'/>
        </MsiPackage>
      
        <MsiPackage 
          Id="mobi"
          Vital="yes"
          SourceFile="$(var.mobi)"
          Compressed="$(var.Compressed)"
          DownloadUrl="$(var.mobiDownloadPath)"
        >
          <MsiProperty Name='TARGETDIR' Value='[InstallFolder]'/>
        </MsiPackage>

        <MsiPackage 
          Id="r"
          Vital="yes"
          SourceFile="$(var.r)"
          Compressed="$(var.Compressed)"
          DownloadUrl="$(var.rDownloadPath)"
          >
          <MsiProperty Name='TARGETDIR' Value='[InstallFolder]'/>
        </MsiPackage>

        <MsiPackage 
          Id="validator"
          Vital="yes"
          SourceFile="$(var.validator)"
          Compressed="$(var.Compressed)"
          DownloadUrl="$(var.validatorDownloadPath)"
          >
          <MsiProperty Name='TARGETDIR' Value='[InstallFolder]'/>
        </MsiPackage>
      </Chain>

   </Bundle>
</Wix>
